spring:
  application:
    name: lovable-ai

  datasource:
    url: jdbc:postgresql://localhost:5432/lovable
    username: admin
    password: admin

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true